html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
.search-content {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 1.76rem;
  background-color: #ffc001;
}
.search-content .classify {
  width: 0.88rem;
  height: 1.4rem;
  margin: 0.22rem 0.5rem 0.14rem 0.48rem;
  background: url(../images/classify.png) no-repeat;
  background-size: 0.88rem 1.4rem;
}
.search-content .search {
  flex: 1;
}
.search-content .search input {
  width: 100%;
  height: 1.32rem;
  border: 0;
  border-radius: 0.66rem;
  margin-top: 0.24rem;
  outline: none;
  color: #999;
  font-size: 0.4rem;
  padding-left: 0.7rem;
  background-color: #fff2cc;
}
.search-content .login {
  width: 1.5rem;
  height: 1.4rem;
  font-size: 0.48rem;
  color: #fff;
  text-align: center;
  line-height: 1.4rem;
  margin: 0.2rem;
}
.banner {
  width: 15rem;
  height: 7.36rem;
  margin-top: 1.76rem;
}
.banner img {
  width: 100%;
  height: 100%;
}
.ad {
  display: flex;
}
.ad a {
  flex: 1;
}
.ad a img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
nav {
  overflow: hidden;
  width: 15rem;
  margin: 0.2rem 0 0 0;
}
nav ul {
  margin: 0;
}
nav ul li {
  float: left;
  width: 20%;
  height: 2.8rem;
}
nav ul li a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-size: 0.5rem;
  color: #333;
  text-align: center;
}
nav ul li a img {
  width: 1.64rem;
  height: 1.64rem;
  margin: 0.4rem auto -0.2rem;
}
nav ul li a span {
  display: block;
  margin: 0.2rem 0 0 0;
  text-align: center;
}
.xsms {
  width: 14.04rem;
  height: 5.16rem;
  margin: 0.6rem auto;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  background-color: #fff;
}
.xsms .xsms-left {
  float: left;
  width: 50%;
  height: 5.16rem;
  padding-left: 0.4rem;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}
.xsms .xsms-left h2 {
  height: 1.16rem;
  font-size: 0.56rem;
  margin: 0;
  line-height: 1.16rem;
}
.xsms .xsms-left p {
  height: 0.6rem;
  font-size: 0.52rem;
  color: #999;
  margin: 0;
  line-height: 0.6rem;
}
.xsms .xsms-left .xsms-left-btn {
  display: flex;
  width: 100%;
  height: 3.4rem;
}
.xsms .xsms-left .xsms-left-btn a {
  flex: 1;
  display: block;
  width: 100%;
  height: 3.4rem;
  text-align: center;
}
.xsms .xsms-left .xsms-left-btn a img {
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 0.2rem;
}
.xsms .xsms-left .xsms-left-btn a p {
  height: 0.56rem;
  margin: 0;
  color: #ff5500;
  margin-top: -0.2rem;
}
.xsms .xsms-right {
  float: right;
  width: 50%;
  height: 5.16em;
  box-sizing: border-box;
}
.xsms .xsms-right h2 {
  height: 1.16rem;
  font-size: 0.56rem;
  margin: 0;
  line-height: 1.16rem;
}
.xsms .xsms-right p {
  height: 0.6rem;
  font-size: 0.52rem;
  color: #999;
  margin: 0;
  line-height: 0.6rem;
}
.xsms .xsms-right .xsms-left-btn {
  display: flex;
  width: 100%;
  height: 3.4rem;
}
.xsms .xsms-right .xsms-left-btn a {
  flex: 1;
  display: block;
  width: 100%;
  height: 3.4rem;
  text-align: center;
}
.xsms .xsms-right .xsms-left-btn a img {
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 0.2rem;
}
.xsms .xsms-right .xsms-left-btn a p {
  height: 0.56rem;
  margin: 0;
  color: #ff5500;
  margin-top: -0.2rem;
}
.tj {
  height: 3.44rem;
  margin-top: 0.2rem;
  background-color: #fff;
}
.tj ul {
  display: flex;
  margin: 0;
  height: 3.44rem;
}
.tj ul li {
  flex: 1;
  box-sizing: border-box;
  text-align: center;
}
.tj ul li img {
  width: 2rem;
  height: 2rem;
  margin: 0.4rem auto 0;
}
.tj ul li p {
  font-size: 0.44rem;
  color: #333;
  margin: 0;
}
.tj ul li:first-child {
  width: 3.46rem;
  height: 3.44rem;
  padding: 0.94rem 0.36rem 0;
}
.tj ul li:first-child h1 {
  font-size: 0.64rem;
  margin: 0;
}
.tj ul li:first-child p {
  color: #999;
  font-size: 0.48rem;
  margin: 0;
}
.dibu {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 15rem;
  height: 2.02rem;
  background-color: #fff;
}
.dibu ul {
  display: flex;
  margin: 0;
}
.dibu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-top: 0.3rem;
}
.dibu ul li img {
  height: 0.96rem;
  width: 0.96rem;
}
.dibu ul li span {
  color: #666;
  font-size: 0.4rem;
}
